* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 28px;
  padding: 20px;
  /* background: #f9f9f9; */
}

main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

section.card {
  display: flex;
}

img {
  border-radius: 50%;
}

aside {
  padding-top: 20px;
  margin-right: 60px;
}

h1 {
  margin: 0;
  padding-top: 10px;
}

section.card {
  padding: 20px;
  margin: 40px;
  border-top: 1px solid rgb(241, 241, 241);
}

.name-button {
  display: flex;
  justify-content: space-between;
}

.button {
  /* background-color: transparent; */
  border: 2px solid rgb(34, 255, 34);
  border-radius: 6px;
  color: rgb(34, 255, 34);
  padding: 8px 36px;
  transition: 0.3s;
}

.button:hover {
  background: green;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 14px rgb(30, 163, 90);
}

.button:active {
  transform: scale(1);
}

.sub-intro {
  color: lightgray;
  text-transform: uppercase;
}

.description {
  width: 60%;
}
